body {
    background-color: #f8f9fa;
}

.info-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.info-card:hover {
    transform: translateY(-5px);
}

.navbar {
    margin-bottom: 20px;
}

.card {
     box-shadow: 0 4px 8px rgba(0,0,0,0.1);
     border-radius: 10px;
}

.jumbotron {
    background-color: #343a40;
    color: white;
}